<script src="{{ "/js/jquery-1.12.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.lazyload.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.toc.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/ekko-lightbox.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/flowplayer/flowplayer.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
